/* .h {
  background-color: rgb(228, 19, 19);
} */
.card {
  transition: transform 0.3s ease-in-out;
  background-color: rgb(48, 64, 50);
  display: flex;
}
.card div {
  padding: 10px;
}
/* .bodydiv .albums .card {
  border-radius: 29px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #5a5a5a, -15px -15px 30px #ffffff;
} */
.bodydiv {
  font-size: smaller;
}
.card div:hover {
  transform: scale(1.1);
}
.albums,
.artists,
.playlists {
  display: flex;
  overflow: scroll;
  /* box-shadow: 0px 10px 10px 10px rgb(69, 68, 68); */
  color: azure;
  font-size: smaller;
}

::-webkit-scrollbar {
  display: none;
}
.albums .card,
.artists .card,
.playlists .card {
  /* overflow: scroll; */
}

.artists .card img {
  border-radius: 50px;
}
