body {
  /* text-align: center; */
  /* background-color: #4729b2; */
}

.App {
  font-family: sans-serif;
  /* text-align: center; */
}

.component {
  /* background-color: white; */
  /* width: 25%; */
  /* max-width: 600px; */
  /* text-align: right; */
  /* margin: 1em auto; */
  display: flex;
  height: 100px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  /* padding-bottom: 2em; */
  /* border: 0.1px solid black; */
  /* border-radius: 10px; */
}
.component h2 {
  padding-bottom: 5px;
}
.component img {
  /* text-align: left; */
  width: 100px;
  height: 100px;
  padding-left: 20px;
}
.musicCover {
  border-radius: 10%;
}
.playingName {
  width: 500px;

  /* height: 500px; */
}
.playingName p,
.playingName h3 {
  padding-top: 20px;
}
.playingButtonDiv {
  text-align: center;
}
.playButton {
  /* text-align: center; */
  background: none;
  border: none;
}
.title,
.subTitle {
  text-align: left;
  padding-left: 15px;
}

.time {
  /* margin: 0 auto; */
  /* width: 80%; */
  display: flex;
  /* justify-content: space-between; */
  color: #362828;
  padding: 20px;
  font-size: smaller;
}
.time p {
  padding-inline: 50px;
  color: white;
}

.timeline {
  width: 500px;
  background-color: #df8815;
}

/* input[type="range"] {
  background-color: #27ae60;
} */

input[type="range"] {
  overflow: hidden;
  /* width: 80px; */
  border-radius: 15px;
  -webkit-appearance: none;
  background-color: #000000;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 10px;
  cursor: pointer;
  -webkit-appearance: none;
  /* color: #ffff; */
  margin-top: -1px;
}

input[type="range"]::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  height: 10px;
  cursor: grab;
  background: #2cd40e;
  box-shadow: -250px 0px 0px 250px #2cd40e;
}

audio {
  /* width: auto; */
  height: 200px;
  width: 100%;
  padding-bottom: 150px;
  background-color: #df8815;
}
audio::-webkit-media-controls-panel {
}
audio::-webkit-media-controls-mute-button {
}
audio::-webkit-media-controls-play-button {
}
audio::-webkit-media-controls-timeline-container {
}
audio::-webkit-media-controls-current-time-display {
}
audio::-webkit-media-controls-time-remaining-display {
}
audio::-webkit-media-controls-timeline {
}
audio::-webkit-media-controls-volume-slider-container {
}
audio::-webkit-media-controls-volume-slider {
}
audio::-webkit-media-controls-seek-back-button {
}
audio::-webkit-media-controls-seek-forward-button {
}
audio::-webkit-media-controls-fullscreen-button {
}
audio::-webkit-media-controls-rewind-button {
}
audio::-webkit-media-controls-return-to-realtime-button {
}
audio::-webkit-media-controls-toggle-closed-captions-button {
}
@media (max-width: 900px) {
  .component {
    width: 50%;
  }
  * {
    /* background-color: black; */
  }
}
