.searchbar {
  justify-content: space-between;
  padding-top: 10px;
  display: flex;
}
.searchabrandbutton {
  justify-content: center;
}
.userdetails {
  display: flex;
  color: white;
}
.userdetails img {
  cursor: pointer;
  height: 35px;
  width: 35px;
}
.searchbar h2 {
}
select {
  display: none;
}
input[type="Text"] {
  height: 40px;
  width: 300px;
  border-radius: 25px;
  border: none;
  padding-left: 30px;
  color: white;
  border: 1px solid white;
}
.resultDiv {
  position: absolute;
  z-index: 1;

  background-color: white;
  min-width: 280px;
  max-width: fit-content;
  text-align: left;
  /* padding-left: 5px; */
  /* overflow:scroll; */
  /* padding-top: 10px; */
}
.recyclerview {
  padding: 10px;
  font-size: smaller;
}
.recyclerview:hover {
  background-color: aqua;
  cursor: pointer;
}
.recyclerview img {
  border-radius: 10px;
}
.recyclerview div {
  padding-left: 10px;
}
li {
  list-style-type: none;
  /* padding-bottom: 15px; */
}
.resultDiv :hover {
  background-color: aqua;
}

.searchbar button {
  width: 50px;
  height: 40px;
  border-radius: 30px;
  border: none;
  outline: none;
  background-color: white;
}
.searchbar button:hover {
  background-color: azure;
}
*:focus {
  outline: none;
}
