/* body {
  background-color: aqua;
} */
:root {
  --off: 0%;
  --on: 50%;
}
.songname {
  height: 500px;
  font-size: smaller;
  width: 950px;

  overflow-x: hidden;
  padding-left: 10px;
}
.songname div {
  padding: 10px;
  width: auto;
  align-items: center;
  overflow-y: scroll;
}

.current {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: rgb(11, 12, 16);
}
.playbutton {
  height: 128px;
  z-index: 1;
  opacity: var(--off);
  margin-top: -200px;
  margin-left: 50px;
  padding-bottom: 100px;
  /* margin: -65px 10px 0px 187px; */
  /* padding-bottom: 20px; */
}
.playbutton:hover {
  opacity: var(--on);
}
