* {
  margin: 0;
  padding: 0;
}

div .searchbar {
  height: 75px;
  background-color: rgb(11, 12, 16);
}
div .middle {
  display: flex;
  overflow: scroll;
  color: rgb(102, 252, 241);
  background-color: rgb(11, 12, 16);
}

div .body {
  /* background-color: coral; */
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 10px;
}
div .player {
  /* width: 300px; */
  /* align-items: center;
  justify-content: center; */
  /* max-height: 200px; */
  /* min-height: auto; */
  height: 120px;
  background-color: rgb(102, 252, 241);
  color: rgb(11, 12, 16);
  /* background-image: radial-gradient(black, white); */
}
@media only screen and (max-device-width: 400px) {
  div .middle {
    display: block;

    width: auto;
    overflow-x: hidden;
  }
  div .searchbar .userdetails {
    display: none;
  }
  .resultDiv {
    left: 0%;
  }

  .albums,
  .artists,
  .playlists {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    font-size: smaller;
  }
}

.firstdivsecondchild audio {
  width: 400px;
}
div .player {
  height: auto;
}
@media only screen and (max-device-width: 400px) {
  .component {
    display: block;
  }
}
